/* GENERAL */
:root {
  --blue-light: #3498db;
  --blue-dark: #002f68da;
  --bg-blue-ultra-light: #75b7e491;
  --bg-input-forms: #e9f4fc;
  --grey: #bdc3c7;
  --grey-dark: hsl(0, 0%, 24%);
  --orange-color: #ff7100;
  --red-color: #871a1a;
}

/* Permet de faire un scroll via les nav link plus smooth */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}
section {
  padding: 45px 0px 80px 0;
}

.blue-divider {
  width: 100px;
  height: 2px;
  background: var(--blue-light);
  margin: 0 auto 20px;
}
.white-divider {
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 auto 20px;
}

.shadow-black {
  text-shadow: 0.5px 0.5px 0.5px #000;
}

.shadow-blue {
  text-shadow: 0.5px 0.5px 0.5px var(--blue-dark);
}

.shadow-box-navbar-white {
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.7);
}

.shadow-box-navbar-blue {
  -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
}

.shadow-box-center {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

.shadow-box-light {
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.4);
}

/* MENU */
.navbar {
  background-color: var(--blue-light);
  border-bottom: 1px solid var(--blue-dark);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-pills .nav-link {
  color: #fff !important;
  text-align: center;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  color: var(--blue-light) !important;
  background-color: #fff !important;
  text-shadow: 0.5px 0.5px 0.5px var(--blue-dark);
}

.nav-link.active,
.nav-link:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
}

.navbar-toggler {
  color: #fff !important;
  border-style: none;
}

/* ABOUT */
#about {
  padding-top: 50px;
  background: var(--blue-light);
}

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
  background-color: var(--blue-light);
}
.button1:hover {
  background: white;
  color: var(--blue-light);
  text-decoration: none;
}

img {
  border-radius: 10% !important;
}

.img-thumbnail {
  border-color: var(--blue-dark) !important;
  background-color: var(--blue-dark) !important;
}

.my-picture {
  max-width: 56%;
}

.text-grey {
  color: var(--grey) !important;
}
#about .card-header {
  background-color: var(--blue-dark);
  border-radius: calc(2rem - 1px) calc(2rem - 1px) 0 0 !important;
}
#about .card {
  border-radius: 2rem;
}
/* SKILLS */
#skills {
  background: #fff;
}

#skills .heading h2 {
  color: var(--blue-light);
}
#skills .progress {
  height: auto;
  margin: 30px 20px;
  background: #939393;
}
#skills .progress-bar {
  background: var(--blue-light);
}
#skills .progress h5,
#skills .progress h6 {
  margin-top: 5px;
  text-transform: uppercase;
  text-align: start;
  padding-left: 10px;
  font-size: 1.1rem;
}
/* Reduit la longueur de la police pour que le texte s'affiche en entier quelque soit la taille de l'écran */
@media (min-width: 768px) and (max-width: 992px), (min-width: 1200px) {
  #skills .progress h6 {
    font-size: 0.9rem;
    padding: 4px 10px;
  }
}

/* Ajoute 4 lignes horizontales en dessous du titre */
.horizontaLine1 {
  border-bottom: 2px solid var(--red-color);
  width: 300px;
  margin: 10px auto 0 auto;
}

.horizontaLine2 {
  border-bottom: 2px solid var(--red-color);
  width: 200px;
  margin: 10px auto 0 auto;
}

.horizontaLine3 {
  border-bottom: 2px solid var(--red-color);
  width: 100px;
  margin: 10px auto 0px auto;
}

.horizontaLine4 {
  border-bottom: 2px solid var(--red-color);
  width: 10px;
  margin: 10px auto 20px auto;
}

/* EXPERIENCE */
#experience {
  background: var(--blue-light);
}
#experience .heading h2 {
  color: #fff;
}
.timeline {
  padding: 30px 10px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #333;
  left: 50%;
  margin-left: -2.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline li .timeline-badge {
  color: var(--blue-light);
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #fff;
  border-radius: 50%;
}
.timeline-panel-container {
  width: 50%;
  float: left;
}
.timeline-panel-container-inverted {
  width: 50%;
  float: right;
}
.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px;
}
.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-heading h3 {
  margin: 5px auto;
  font-size: 20px;
  border-bottom: 1.5px solid var(--orange-color);
  padding-bottom: 5px;
}
.timeline-heading h4 {
  color: var(--blue-dark);
}

/* EDUCATION */
#education {
  background: #fff;
}
#education .heading h2 {
  color: var(--blue-light);
}
.education-block {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: var(--bg-blue-ultra-light);
  border-radius: 10px;
  border: 2px solid var(--blue-light);
  margin-bottom: 20px;
}
.education-block h5 {
  color: var(--grey-dark);
  font-size: 15px;
  margin-bottom: 15px;
}
.education-block .fas {
  font-size: 35px;
}
.education-block h3 {
  color: var(--blue-dark);
}
.education-block h4 {
  margin-bottom: 20px;
  color: var(--grey-dark);
}
.education-block p {
  font-weight: bold;
  color: var(--grey-dark);
}
.education-block .red-divider {
  margin-bottom: 20px;
  width: 100px;
  height: 2px;
  background: var(--red-color);
  margin: 0 auto 20px;
}

/* PORTFOLIO */
#portfolio {
  background: var(--blue-light);
}
#portfolio .heading h2,
#portfolio h4,
#portfolio h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
#portfolio img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 1s;
}
#portfolio img:hover {
  filter: none;
  -webkit-filter: none;
  transform: scale(1.1);
}
#portfolio .col-md-4 {
  margin-bottom: 20px;
}

#portfolio .img-fluid {
  margin: 50px 0 0 0;
  transition: all 1s;
}

#portfolio .img-fluid:hover {
  transform: scale(1.1);
}

/* Evite que l'image soit trop importante */
@media (min-width: 1600px) {
  #portfolio .img-fluid {
    max-width: 80%;
  }
}

/* CONTACT */
#contact {
  background: #fff;
}
#contact .heading h2 {
  color: var(--blue-light);
}
#contact-form {
  font-size: 20px;
}
.inputFormBlue {
  background: var(--bg-input-forms);
}
.blue {
  color: var(--blue-light);
}
.form-control {
  height: 50px;
  font-size: 18px;
  border-width: 1.5px;
}
#contact-form input[type="submit"]:focus {
  outline: none;
}

#contact-form input[type="submit"] {
  margin: 40px auto 0px;
  display: block;
}

.btn-outline-info {
  color: var(--blue-light);
  border-color: var(--blue-light);
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
}

.btn-outline-info:hover:not(:disabled) {
  background-color: var(--blue-light);
  border-color: var(--blue-light);
}

#contact .card {
  border-radius: 10px;
  background: rgb(32 29 32);
  line-height: 20px;
  font-size: 20px;
  font-family: "Consolas, Courier New, monospace, serif, EmojiFont";
}

#contact img {
  border-radius: 0 !important;
  max-width: 100%;
}

/* FOOTER */
footer {
  background: #333;
  padding: 20px 0 40px;
}
footer .fas {
  font-size: 25px;
  margin: 20px;
  color: var(--blue-light);
  height: 30px;
  transition: all 0.5s;
}
footer .fas:hover {
  transform: scale(2);
}
footer h5 {
  color: #fff;
  font-weight: normal;
}

footer a,
footer a:hover {
  color: var(--blue-light);
}

/* ANIMATIONS */
#about .card {
  -webkit-animation: slide-in-elliptic-top-fwd 1.2s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

.animationFade {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    /* opacity: 1; */
  }
}

/* Version mobile type S5 / Iphone5 ... avec une largeur de 499px max */
@media (max-width: 499px) {
  p {
    font-size: 1em;
    text-indent: 0.5em;
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5em;
  }

  footer h5 {
    font-size: 1.2em;
  }

  .horizontaLine1 {
    width: 80%;
  }

  .horizontaLine2 {
    width: 60%;
  }

  .horizontaLine3 {
    width: 40%;
  }

  .horizontaLine4 {
    width: 20%;
  }

  .col-8 {
    max-width: 90%;
  }

  #contact .card-body {
    padding: 0;
    font-size: 0.8em;
  }

  .timeline-badge,
  .timeline:before,
  .timeline-panel:after {
    visibility: hidden;
  }
  .timeline-panel-container {
    margin-left: 10px;
  }

  .timeline-panel-container-inverted {
    margin-right: 10px;
  }

  .timeline-panel-container,
  .timeline-panel-container-inverted {
    width: auto;
    float: none;
  }
}
