/* GENERAL */
:root {
  --blue-light: #346cb0;
  --blue-dark: #002f68da;
  --grey: #bdc3c7;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}
section {
  padding: 45px 0px 80px 0;
}

/* MENU */
.navbar {
  background-color: var(--blue-light);
  font-size: 12px;
  border-bottom: 1px solid var(--blue-dark);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-pills .nav-link {
  color: #fff !important;
  text-align: center;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  color: var(--blue-light) !important;
  background-color: #fff !important;
}
.navbar-toggler {
  color: #fff !important;
  border-style: none;
}

/* ABOUT */
#about {
  padding-top: 50px;
  background: var(--blue-light);
}

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}
.button1:hover {
  background: white;
  color: var(--blue-light);
  text-decoration: none;
}
img {
  border-radius: 10% !important;
}

.img-thumbnail {
  border-color: var(--blue-dark) !important;
  background-color: var(--blue-dark) !important;
}

.text-grey {
  color: var(--grey) !important;
}
